<%@replies.each do |reply|%>
<<<<<<< HEAD
  <p><strong>Reply:</strong><%=reply.body%></p>
  <p><strong>Reply:</strong><%=image_tag reply.image,:height=>"150", :width=>"150"%></p>
=======
  <p><strong>Reply:</strong>
  <%=reply.body%></p>
  <p><strong>Reply:</strong>
  <%=image_tag reply.image,:height=>"150", :width=>"150"%></p>
>>>>>>> 7467905c2feedd1f10b956ae0b351e2f5df76de5
<%end%>
